
#myinfo {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 30px
} 
#myInfo1{
  border: 2px outset black;
  background-color:#FF7F50 ;
  text-align:center;
  list-style-type: none;
  
}
.myDiv {
  border: 2px outset black;
  background-color:#FF7F50 ;
  text-align: center;
}

 .p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 14px
} 

  nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li a{
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}


h1 {
  text-decoration: underline overline;
  color: black;
  text-align: center;
}

a:link {
  color: purple;
}

a:visited {
  color: #B8860B;
}

a:hover {
  color: #DC143C;
}

a:active {
  color: red;
}

body{
background-color: #FFEBCD;
}